# Raw sequencing data
input_data/*.fastq*

# Reference files
input_data/*.fna
input_data/*.gtf
input_data/gentrome.fna
input_data/decoys.txt

# Salmon index
salmon_index/

# FastQC zips
output_files/fastqc/*.zip

# SLURM logs
slurm/

# R temporary files
.Rhistory
.RData
.Rproj.user/

# OS files
.DS_Store
